@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  overflow: scroll;
  background-color: #d6ecff;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;

}
.contenedor_conversiones{
  background-color:#083544;
  width:28%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top:0;
  left:0;
  padding: 2rem;
  transform: translateX(-1000px);
  transition: .5s ease;
  font-weight: 900;
}

.show_contenedor_conversiones{
  transform: translateX(0px);

}


